# TIMEOUT: timeout limit in seconds, default to 60 seconds if it is not set
TIMEOUT=

# TESTCASE: Specify test case which can be found at $MAPLE_BUILD_ROOT/$TESTCASE
TESTCASE="examples/HelloWorld"

# UNEXPECTED: Regular expression of grep command for all output. It fails if matched
UNEXPECTED=

# EXPECTED: Regular expression of grep command for all output. It fails if not matched
EXPECTED="Ljava_2Flang_2FThread_3B_7Crun_7C_28_29V"
